{% load static %}
<footer>
    <div>
        <img src='{% static "irudiak/logo/logow.svg" %}' class="footer-logo">
    </div>

    <div class="footer-content">
        <div>
            <h3>WeeDeliver</h3>
            <a class="whitea"><p>WeeDeliver-i buruz</p></a>
            <a class="whitea"><p>WeeDeliver fundazioa</p></a>
        </div>

        <div>
            <h3>Produktuak</h3>
            <a class="whitea"><p>Produktuei buruz</p></a>
            <a class="whitea"><p>Produktu guztiak</p></a>
        </div>

        <div class="footersocials">
            <h3>Sare Sozialak</h3>
            <img alt="instagram" src='{% static "irudiak/webimg/socials/ig-logo.svg" %}'>
            <img alt="facebook" src='{% static "irudiak/webimg/socials/fb-logo.png" %}'>
            <img alt="X" src='{% static "irudiak/webimg/socials/x-logo.svg" %}'>
        </div>
    </div>
</footer>