@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

/*TEXT*/
h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    color: #1a1a1a;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #1a1a1a;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #1a1a1a;
}

a {
    color:black;
}

a:visited {
    color:black;
}


/*NAV&FOOTER*/
body {
    margin:0;
    font-family: 'Manrope', sans-serif;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

nav {
    background-color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
}

nav img {
    height:40px;
    margin: 0 10px 10px;
    vertical-align: middle;
}

nav a {
    display:inline-block;
    vertical-align: middle;
    color:black;
    text-decoration:none;
    font-size:20px;
    margin:10px;
    height: 100%;
    line-height: 50px;
}

footer {
    background-color: black;
    text-align: center;
    padding-bottom: 1em;
    display:flex;
    flex-direction:column;
}

footer h3 {
    color: white;
    font-size: 25px;
    margin-top: 1em;
}

.footer-logo {
    width: 200px;
    margin-top: 1em;
}

.footer-content {
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    max-width: 1600px;
    width:calc(100% - 100px);
    align-self: center;
}

footer p {
    font-size: 15px;
}

.footersocials img {
    width: 30px;
}

.whitea {
    color:white;
    text-decoration:none;
}

.whitea:visited {
    color:white;
}


/*GLOBAL*/
.global {
    max-width: 1600px;
    width:calc(100% - 100px);
    align-self: center;
    padding: 0 50px;
    flex-grow: 1;
}

.carousel {
    display: flex;
    margin: 0;
    overflow-x: auto;
}

.carouselitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0;
}

.carouselitem img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.vflex {
    display:flex;
    flex-direction:column;
}

.hflex {
    display:flex;
}

/* hflex title fix, mostly for categories */
.hflextitle {
    margin: 0 10px 0 0;
    align-self: center;
}

.btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width:fit-content;
    box-shadow: rgba(0, 0, 0, 0.31) 2px 2px 0;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.31) 4px 4px 0;
    transform: translate(-2px, -2px);
}

/*PRODUKTUAK*/
.kategoriak {
    display:flex;
    overflow-x: auto;
}

.kategoria {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
}

.kategoria:hover {
    background-color: #A0FAB4;
}

.kategoria-aktiboa {
    background-color: #30C150;
    color:white;
}

/*PRODUKTUA CARD*/
.produktuak {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.produktuacard {
    display: flex;
    flex-direction: column;
    margin: 0 0 50px;
    width: 350px;
    background: #DADADA;
    border-radius: 10px;
}

.produktuacard img {
    height: 270px;
    width: 350px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.produktuadeets {
    display:flex;
    padding: 15px;
}

.deetstext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
}

.deetsizena {
    font-size: 20px;
    font-weight: 700;
    max-width: 240px;
    color: #1a1a1a;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deetsprezioa {
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
}

.deetsbidalketa {
    font-size: 16px;
    font-weight: 400;
    color: #494949;
}

.produktuaikusibtn {
    padding: 7px 12px;
    font-size: 15px;
    margin-top: 10px;
    width:fit-content;
    white-space: nowrap;
}

.produktuacard a {
    text-decoration: none;
    width:fit-content;
}

/* PRODUKTUA (INDIBIDUALA) */
.produktuacatpill {
    background-color: #A0FAB4;
    color: black;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 0 10px 0 0;
    width:fit-content;
}

.produktuairudia img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 10px;
}


/*KONTAKTUA*/

.kontaktuaimg {
    height: 400px;
    width: 600px;
    max-width: 40%;
    object-fit: cover;
    border-radius: 10px;
}

.kontaktuaform {
    flex:1;
    margin-right: 50px;
}

.kontaktuaform input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

.kontaktuata {
    border: 1px solid black;
    border-radius: 5px;
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
}

.kontaktuabtn {
    font-size: 20px;
    padding: 10px;
    width: 100%;
    margin: 20px 0;
}
