/*NAV*/
html{
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    background: url("/static/img/backimage.svg")center no-repeat;
    background-size: cover;
    height: 550px;
}

nav h1{
    color: white;
    font-size: 60px;
}

nav button{
    background-color: black;
    color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.31) 4px 4px 0;
    transition: all 0.2s ease-in-out;
}

nav button:hover{
    box-shadow: rgba(0, 0, 0, 0.31) 6px 6px 0;
    transform: translate(-2px, -2px);
}

.navtitle{
    margin-top: 5em;
    margin-left: 3em;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

ul div{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-right: 1em;
}

ul li{
    margin-top: 1.5em;
    margin-left: 1em;
}

nav a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}

a:hover{
    color: #30C150;
}

.logo{
    width: 20%;
}

/*PRODUKTUAK*/

div.scrollmenu {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.produktua{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
    /*border: 1px solid black;
    border-radius: 5px;*/
}

.produktua img{
    width: 300px;
    height: 250px;
}

.products h1{
    margin-left: 1em;
}

/*ARTIKULUAK*/

.artikuluak{
    margin-top: 1em;
    margin-left: 1em;
}

.normal-article{
    display: flex;
    flex-direction: row;
    margin: 1em;
}

.reverse-article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
}

article img{
    width: 90%;
}

/*FOOTER*/
footer{
    background-color: black;
    text-align: center;
}

.footer-logo{
    width: 10%;
    margin-top: 1em;
}

.footer-content{
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
    color: white;
}

footer p{
    font-size: 15px;
}
