#hero {
    display: flex;
    flex-direction: column;
    background: url('/static/irudiak/webimg/hero.png') no-repeat center center;
    background-size: cover;
    max-height:700px;
    height: 100vh;

}

nav {
    background:none;
}

nav a {
    color:white;
}

nav a:visited {
    color:white;
}

h1 {
    font-size: 100px;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 800;
}


h4 {
    margin: 10px;
}

a {
    text-decoration: none;
    width:fit-content;
}

.herocontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 50px;
    max-width: 1600px;
    width:calc(100% - 100px);
    align-self: center;
}

.herobutton {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
    width:fit-content;
    box-shadow: rgba(0, 0, 0, 0.31) 4px 4px 0;
    transition: all 0.2s ease-in-out;
}

.herobutton:hover {
    box-shadow: rgba(0, 0, 0, 0.31) 6px 6px 0;
    transform: translate(-2px, -2px);
}

/*AFTER HERO*/
#gomendioak h4 {
    white-space:nowrap;
}

.homesection {
    display: flex;
    margin: 50px 0;
    width: 100%;
}

.homesection img {
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.rightsection {
    margin-left: 30px;
}

.rightsection {
    margin-right: 30px;
}

/*AMAIERA*/
.goseaduzu {
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}

.goseaduzu div {
    margin: 30px;
}