.kategoriak{
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}

.kategoriak button{
    margin-left: 1em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.kategoriak button:hover{
    background-color: #A0FAB4;
}

.kategoriak button:active{
    background-color: #30C150;
}


.produktuak{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-indib{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 2em;
    width: 300px;
    background-color: #dadada;
}

.product-indib img{
    width: 298px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.product-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.product-info h5{
    font-size: 18px;
    font-weight: bold;
}

.product-info p{
    font-size: 14px;
}

.product-info button{
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.31) 4px 4px 0;
    transition: all 0.2s ease-in-out;
}

.product-info button:hover{
    box-shadow: rgba(0, 0, 0, 0.31) 6px 6px 0;
    transform: translate(-2px, -2px);
}