
/*PROFILA*/
.profila {
    margin-left: 1em;
    margin-right: 1em;
}

.user-img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
}

.links{
    margin-top: 3.75em;
}

.links a{
    margin-right: 2em;
}

.user {
    display: flex;
    flex-direction: row;
    margin: 1em
}

.user div{
    margin-right: 1em;
}

/*EROSKETAK...*/
.content{
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    margin-bottom: 1em;
}


.erosketak{
    width: 80%;
}

.erosketa-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
}

.upgrade{
    background: linear-gradient(to left,#A0FAB4,#ABFAFF, #ADA0FA);
    border-radius: 5px;
    width: 18%;
    padding-left: 1em;
}