{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/home.css" %}'>
    <title>WeeDeliver</title>

    
</head>

<body>
    <div class="">
        <!--Navbar-->
        <div>
            <nav>
                <ul>
                    <div class="">
                        <img src='{% static "irudiak/logow.svg" %}' class="logo">
                        <li><a href="/">Hasiera</a></li>
                        <li><a href="/produktuak">Produktuak</a></li>
                        <li><a href="/kontaktua">Kontaktua</a></li>
                    </div>
  
                    <div>
                        <li><a href="">(0)</a></li>
                        <li><a href="">Sortu Kontua</a></li>
                        <li><button>Hasi Saioa</button></li>
                    </div>
                </ul>
                <div class="navtitle">
                    <h1>As fast <br> as Speed</h1>
                    <button>Begiratu menua</button>
                </div>
            </nav>
        </div>

        <!--Produktuak-->
        <div class="products">
            <h1>Janari azkarra</h1>
            <div class="scrollmenu">
                <div class="produktua">
                    <a><img src='{% static "irudiak/produktuak/weedpizza_D8FzO9S.jpg" %}'></a>
                    <h3>Weed Pizza</h3>
                </div>
                
                <div class="produktua">
                    <a><img src='{% static "irudiak/produktuak/weedburger_oAX8zsv.jpg" %}'></a>
                    <h3>Weed Burger</h3>
                </div>
                <div class="produktua">
                    <a><img src='{% static "irudiak/produktuak/weedcupcake2_OCKTjEG.jpg" %}'></a>
                    <h3>Weed Cupcake</h3>
                </div>
                <div class="produktua">
                    <a><img src='{% static "irudiak/produktuak/brownies_YpOVEip.jpg" %}'></a>
                    <h3>Weed Brownies</h3>
                </div>
                <div class="produktua">
                    <a><img src='{% static "irudiak/produktuak/croquets_Y2zaXJZ.jpg" %}'></a>
                    <h3>Weed Pizza</h3>
                </div>
            </div>
        </div>

        <!--Articles-->
        <div class="artikuluak">
            <article class="normal-article">
                <div>
                    <img src='{% static "irudiak/article1.svg" %}'>
                </div>
                <div>
                    <h1>Zure osagai gogokoenak</h1>
                    <p>Lorem ipsum</p>
                </div>
            </article>

            <article class="reverse-article">
                <div>
                    <h1>Jatetxea</h1>
                    <p>Lorem ipsum</p>
                </div>
                <div>
                    <img src='{% static "irudiak/article2.svg" %}'>
                </div>
            </article>

            <article class="normal-article">
                <div>
                    <img src='{% static "irudiak/article3.svg" %}'>
                </div>
                <div>
                    <h1>Etxerako</h1>
                    <p>Lorem ipsum</p>
                </div>
            </article>
        </div>

        <!--Footer-->
        <div>
            <footer>
                <div>
                    <img src='{% static "irudiak/logow.svg" %}' class="footer-logo">
                </div>

                <div class="footer-content">
                    <div>
                        <h3>WeeDeliver</h3>
                        <a><p>WeeDeliver-i buruz</p></a>
                        <a><p>WeeDeliver fundazioa</p></a>
                    </div>
    
                    <div>
                        <h3>Produktuak</h3>
                        <a><p>Produktuei buruz</p></a>
                        <a><p>Produktu guztiak</p></a>
                    </div>
    
                    <div>
                        <h3>Sare Sozialak</h3>
                        <img src='{% static "irudiak/instagram-icon.svg" %}'>
                        <img src='{% static "irudiak/facebook-icon.svg" %}'>
                        <img src='{% static "irudiak/x-icon.svg" %}'>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>