{% load static %}
{% load custom_filters %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/general.css" %}'>
    <link rel="stylesheet" href='{% static "css/karrito.css" %}'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


    <title>WeeDeliver</title>

    
</head>

<body>
    <div class="wrapper">
        <!--Navbar-->
        <div>
            <nav>
                <ul>
                    <div class="">
                        <img src='{% static "irudiak/logob.svg" %}' class="logo">
                        <li><a href="/">Hasiera</a></li>
                        <li><a href="/produktuak">Produktuak</a></li>
                        <li><a href="/kontaktua">Kontaktua</a></li>
                    </div>
  
                    {% if user.is_authenticated %}
                    <div>
                        <li><a href="/karrito" id="unitateak">(0)</a></li>
                        <li><a href="/profila">{{ user.username }}</a></li>       
                    </div>
                    {% else %}
                    <div>
                        <li><a href="/login">(0)</a></li>
                        <li><a href="/signup">Sortu Kontua</a></li>
                        <li><button><a href="/login">Hasi Saioa</a></button></li>
                    </div>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <!--Karrito-->
        {% if karrito %}
        <form action="erosketa/" method="POST">
            {% csrf_token%}
            <div class="karrito">
                <h2>Karritoa</h2>
                {% with total_cost=0 %}
                {% for item in items %}
                <div class="karrito-item">
                    <div>
                        <img src="../{{ item.produktua.img|cut:'web/' }}">
                        <p>{{ item.produktua.izena }}</p>
                    </div>
                    <div>
                        <a href="" id="{{ item.produktua.id }}" class="kendu">-</a>
                        <p class="unitateak" name="units">{{ item.unitateak }}</p>
                        <a href="" id="{{ item.produktua.id }}" class="gehitu">+</a>
                        <a href="#" class="delete" id="{{ item.id }}"><img src='{% static "irudiak/eliminar.png" %}'></a>
                        <p>{{ item.unitateak|multiply:item.produktua.prezioa|floatformat:2 }}€</p>
                    </div>
                </div>
                {% endfor %}
                <div class="erosi">
                    <p name="guztira" id="guztira">Guztira: {{ items|kalkulatu_guztira }} €</p>
                    <button type="submit">Erosi</button>
                </div>
            </div>
            {% endwith %}
        </form>
        {% else %}
        <h2>Karritoa hutsik dago</h2>
        {% endif %}


        <!--Footer-->
            <footer>
                <div>
                    <img src='{% static "irudiak/logow.svg" %}' class="footer-logo">
                </div>
            
                <div class="footer-content">
                    <div>
                        <h3>WeeDeliver</h3>
                        <a>
                            <p>WeeDeliver-i buruz</p>
                        </a>
                        <a>
                            <p>WeeDeliver fundazioa</p>
                        </a>
                    </div>
            
                    <div>
                        <h3>Produktuak</h3>
                        <a>
                            <p>Produktuei buruz</p>
                        </a>
                        <a>
                            <p>Produktu guztiak</p>
                        </a>
                    </div>
            
                    <div>
                        <h3>Sare Sozialak</h3>
                        <img src='{% static "irudiak/instagram-icon.svg" %}'>
                        <img src='{% static "irudiak/facebook-icon.svg" %}'>
                        <img src='{% static "irudiak/x-icon.svg" %}'>
                    </div>
                </div>
            </footer>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //Karritoko unitateak
        $.ajax({
            url: "{% url 'karritoko_unitateak' %}",  // Replace with the actual URL to fetch the cart count
            type: 'GET',
            success: function (data) {
                // Update the HTML element with the new count
                $('#unitateak').text('(' + data.cart_count + ')');
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            }
        });

        //Karritotik ezabatu
        $(".delete").on('click',function(e) {
            e.preventDefault()
            var item_id = $(this).attr("id")
            container = $(this).parent().parent()
            $.ajax({
                type:'POST',
                url: "{% url 'karritotik_ezabatu' %}",
                data:{
                    item_id : item_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, // Pass datuak directly as the data
                success: function(response){
                    container.remove()
                },error: function (response) {
                    
                }
            })         
        })

        //Karritora gehitu
        $(".gehitu").on('click',function(e) {
            e.preventDefault()
            product_id = $(this).attr("id")
            //Unitate kopurua aldatzeko
            container = $(this).parent()
            unit_txt = container.find('.unitateak').text()
            unit_number = parseInt(unit_txt)
            unit_number += 1

            $.ajax({
                type:'POST',
                url: "{% url 'karritora_gehitu' %}",
                data:{
                    product_id: product_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, // Pass datuak directly as the data
                success: function (response) {
                    container.find('.unitateak').text(unit_number)
                }, error: function (response) {

                }
            })
        })

        //Karritora gehitu
        $(".kendu").on('click',function(e) {
            e.preventDefault()
            product_id = $(this).attr("id")
            //Unitate kopurua aldatzeko
            container = $(this).parent()
            unit_txt = container.find('.unitateak').text()
            unit_number = parseInt(unit_txt)
            unit_number -= 1
            $.ajax({
                type:'POST',
                url: "{% url 'karritotik_kendu' %}",
                data:{
                    product_id: product_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, // Pass datuak directly as the data
                success: function(response){
                    container.find('.unitateak').text(unit_number)
                },error: function (response) {
                    
                }
            })
        })
    })
</script>

</html>