{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/global.css" %}'>
    <link rel="icon" type="image/x-icon" href="{% static 'irudiak/webimg/favicon.ico' %}">
    <title>Kontaktua - WeeDeliver</title>
</head>
<body>
    {% include "elements/nav.html" %}
    <div class="global">
        <h3>Kontaktua</h3>
        <div class="hflex">
            <div class="vflex">
                <form>
                    kaixo
                </form>
            </div>
            <img src="{% static "irudiak/webimg/monkeys.jpg" %}">
        </div>
    </div>
    {% include "elements/footer.html" %}
</body>
</html>