{% load static %}
{% load math_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/global.css" %}'>
    <link rel="icon" type="image/x-icon" href="{% static 'irudiak/webimg/favicon.ico' %}">
    <title>Produktuak - WeeDeliver</title>
</head>
<body>
    {% include "elements/nav.html" %}
    <div class="global">
        <div id="slideshow">
            <div class="slide slidesmall">

            </div>
            <div class="slide slidelarge">

            </div>
            <div class="slide slidesmall">

            </div>
        </div>
    <div class="kategoriak">
    <!-- Kategoriak -->
    <h4 class="hflextitle">Kategoriak </h4>
        {% for kategoria in kategoriak %}
            <!-- Kategoria aktiboa -->
            {% if aukeratutako_kategoria.izena == kategoria.izena %}
                <div class="kategoria kategoria-aktiboa">
            {% else %}
                <!-- Kategoria ez aktiboa -->
                <div class="kategoria">
            {% endif %}
                    {{ kategoria.izena }}
                </div>
        {% endfor %}
    </div>
    <h3>Produktu guztiak</h3>
    <div class="produktuak">
        {% for produktua in produktuak %}
            <div class="produktuacard">
                <img alt="{{ produktua.izena }}" src="../{{ produktua.img|cut:'web/' }}">
                <div class="produktuadeets">
                    <div class="deetstext">
                        <span class="deetsizena">{{ produktua.izena }}</span>
                        <span class="deetsprezioa">
                            {% if produktua.deskontua.izena == "Ez" %}
                                {{ produktua.prezioa|floatformat:2 }}€
                            {% elif produktua.deskontua.isEhunekoa %}
                                <span class="strike">{{ produktua.prezioa|floatformat:2 }}€</span>
                                {{ produktua.prezioa|percent:produktua.deskontua.kantitatea|floatformat:2}}€
                            {% else %}
                                <span class="strike">{{ produktua.prezioa|floatformat:2 }}€</span>
                                {{ produktua.prezioa|sub:produktua.deskontua.kantitatea|floatformat:2}}€
                            {% endif %}
                            <span class="deetsbidalketa"> +bidalketa</span>
                        </span>
                    </div>
                    <a href="/produktua/{{ produktua.id }}/">
                        <div class="btn produktuaikusibtn">
                            Ikusi ->
                        </div>
                    </a>
                </div>
            </div>
     {% endfor %}
    </div>

    </div> <!--pycharmen errorea /shrug-->
    </div>
    {% include "elements/footer.html" %}
</body>
</html>