{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/global.css" %}'>
    <link rel="icon" type="image/x-icon" href="{% static 'irudiak/webimg/favicon.ico' %}">
    <title>Saskia - WeeDeliver</title>
</head>
<body>
    {% include "elements/nav.html" %}
    <div class="global">
        <h3>Saskia</h3>
        {% for item in items %}
            {{ item.produktua.izena }}
            {{ item.kantitatea }}
            {{ item.produktua.prezioa }}
        {% endfor %}
    </div>
    {% include "elements/footer.html" %}
</body>
</html>