{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/global.css" %}'>
    <link rel="icon" type="image/x-icon" href="{% static 'irudiak/webimg/favicon.ico' %}">
    <title>Kontua sortu - WeeDeliver</title>
</head>
<body>
    <div class="loginpopup">
    <a href="/"><h4 class="loginitzuli"><- Itzuli</h4></a>
    <img alt="WeeDeliver logoa" class="loginlogo" src="{% static "irudiak/logo/logog.svg" %}">
    <h1>Sortu kontua</h1>
    <form class="loginform" action="/signup/kontuaSortu/" method="post">
        {% csrf_token %}
        <label for="izena">Izena:</label>
        <input type="text" name="izena" id="izena" required>
        <label for="abizena">Abizena:</label>
        <input type="text" name="abizena" id="abizena" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <label for="pasahitza">Pasahitza:</label>
        <input type="password" name="pasahitza" id="pasahitza" required>
        <label for="pasahitza2">Pasahitza errepikatu:</label>
        <input type="password" name="pasahitza2" id="pasahitza2" required>
        <label for="telefonoa">Telefonoa:</label>
        <input type="text" name="telefonoa" id="telefonoa" required>
         <input class="btn loginbtn" type="submit" value="Sortu">
    </form>
        <a href="/login/">Hasi saioa</a>
    </div>
</body>
</html>